.page-header
  = link_to themes_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_theme_path(@theme), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show theme

%dl.dl-horizontal
  %dt Name:
  %dd= @theme.name
  %dt Category:
  %dd= @theme.category
